#full_screen_gallery { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; text-align: center; background-color: rgba(0,0,0,.8);
  img, .close_gallery { opacity: 0; transition-property: opacity; transition-duration: 0.5s; }

  &.loaded {
    img, .close_gallery { opacity: 1; }
    img { border: 5px solid white; max-width: 100%; }
    .close_gallery { color: white; margin: auto; text-align: right; max-width: 100%;
      span { display: inline-block; padding: 10px; cursor: pointer; }
    }
  }
}
