.full-width-page { background-color: white;
  .fw-breadcrumbs {
    #breadcrumb { box-shadow: none; margin: 0; padding: 10px 0; }
  }
  .fw-banner { background-color: #eee; border-color: #ccc; border-width: 1px 0; border-style: solid; padding: 20px 0;
    .title { font-size: 25px; font-weight: bold; margin-bottom: 20px; }
    .table {
      th { font-weight: 500; color: #777; }
    }
  }
  .fw-content { margin: 20px 0;
    .section-title { border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-bottom: 15px; }
    .section-content { margin-bottom: 20px;
      &.social_media {
        a { font-size: 25px; padding-right: 10px;
          &:hover { opacity: 0.7; }
        }
      }
    }

    .department-contacts { margin-bottom: 40px;
      .section-title { border-bottom: none; padding-bottom: 0; }
      table {
        th { font-weight: 600; }
      }
    }

    .staff-members {
      .member { margin-bottom: 25px; max-height: 70px; overflow: hidden; }
      .photo { height: 70px; width: 70px; margin-right: 20px; float: left; background-position: 50% 50%; background-size: cover; }
      .details { margin-left: 90px;
        .name { font-size: 16px; margin-bottom: 8px; font-weight: 500; }
        .titles { font-size: 12px; }
      }
    }
  }
}
