.full-width-page { background-color: white;
  .fw-breadcrumbs {
    #breadcrumb { box-shadow: none; margin: 0; padding: 10px 0; }
  }
  .fw-banner { background-color: #eee; border-color: #ccc; border-width: 1px 0; border-style: solid; padding: 20px 0;
    .title { font-size: 25px; font-weight: bold; margin-bottom: 20px; }
    .subtitle { margin-top: -15px; margin-bottom: 20px; color: #666; }
    .table {
      th:first-child, td:first-child { padding-left: 0; }
      th { font-weight: 500; color: #777; }
    }
    .profile-image { text-align: right;
      img { max-width: 100px; }
    }
  }
  .fw-content { margin: 20px 0;
    .section-title { border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-bottom: 15px; }
    .section-content { margin-bottom: 60px;
      &.small_bottom { margin-bottom: 20px; }
      .social_media {
        a { padding-right: 5px;
          .fa { padding-right: 5px; }
        }
      }
    }

    .section-with-table {
      .section-title { border-bottom: none; padding-bottom: 0; }
      table {
        th { font-weight: 600; }
        th:first-child, td:first-child { padding-left: 0; }
        th { font-weight: 500; color: #777; }
      }
    }

    .staff-members {
      .member { margin-bottom: 25px; max-height: 70px; overflow: hidden; }
      .photo { height: 70px; width: 70px; margin-right: 20px; float: left; background-position: 50% 50%; background-size: cover; }
      .details { margin-left: 90px;
        .name { font-size: 16px; margin-bottom: 8px; font-weight: 500; }
        .titles { font-size: 12px; }
      }
    }
  }
}
