@import 'settings';

#breadcrumb { background-color: white; padding: 8px 15px; box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16); font-size: 14px; margin: 0 -7px;
  a { color: #777; }
  ul { margin: 0; padding: 0; list-style: none; }
  li { display: inline-block;
    +li:before { content: '‣'; padding: 1px 15px; color: rgb(207, 156, 156); }
  }
}

#profile.full-width-page { background-color: white;
  .fw-breadcrumbs {
    #breadcrumb { box-shadow: none; margin: 0; padding: 10px 0; }
  }
  .fw-banner { background-color: #eee; border-color: #ccc; border-width: 1px 0; border-style: solid; padding: 20px 0;
    &.with_image { background-size: cover; background-position: center; min-height: 340px;
      .box { background-color: rgba(0,0,0,.8); color: white; padding: 20px;
        @media (min-width: 500px) { width: 470px; }
        @media (min-width: 768px) { width: 70%; }
        @media (min-width: 992px) { width: 65%; }
        .table th { color: #fff; }
        .table th, td { border-top-color: #3a3a3a;
          a { color: #8AADCB; }
        }
        .logo { border: 1px solid #666565; padding: 1px; background-color: rgb(27, 27, 27); }
      }
    }
    .logo { width: 100%; max-width: 200px; display: block; margin: auto; border: 1px solid #ddd; padding: 1px; background-color: white;}
    .title { font-size: 25px; font-weight: bold; margin-bottom: 20px; }
    .subtitle { margin-top: -15px; margin-bottom: 20px; color: #666; }
    .table {
      th:first-child, td:first-child { padding-left: 0; }
      th { font-weight: 500; color: #777; }
    }
    .profile-image { text-align: center;
      img { max-width: 100%; border: 1px solid #ddd; padding: 1px; background-color: white; }
    }
  }
  .fw-content { margin: 20px 0; min-height: 20px;
    .section-title { border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-bottom: 15px; }
    .section-content { margin-bottom: 60px;
      &.small_bottom { margin-bottom: 20px; }
      .social_media {
        a { padding-right: 5px;
          .fa { padding-right: 5px; }
        }
      }
      .gallery_photo { margin: 10px; display: inline-block; background-size: cover; background-position: center;
        width: 165px; height: 115px;
        @media (min-width: 992px) { width: 172px; height: 120px; }
      }
      table { width: 100%;
        td { vertical-align: top; }
      }

      &.person_memberships {
        a { margin-right: 10px; }
      }
    }
    .photo-gallery .section-content {
      margin-left: -10px; margin-right: -10px; // to compensate for the margin around the images. I want the images to be flush with the grid.
    }

    .section-with-table {
      .section-title { border-bottom: none; padding-bottom: 0; }
      table {
        th { font-weight: 600; }
        th:first-child, td:first-child { padding-left: 0; }
        th { font-weight: 500; color: #777; }
      }
    }

    .staff-members {
      .member { margin-bottom: 25px; max-height: 70px; overflow: hidden; }
      .photo { height: 70px; width: 70px; margin-right: 20px; float: left; background-position: 50% 50%; background-size: cover; }
      .details { margin-left: 90px;
        .name { font-size: 16px; margin-bottom: 8px; font-weight: 500; }
        .membership_role { margin-top: -5px; margin-bottom: 5px; }
        .titles { font-size: 12px; }
      }
      // for mixItUp javascript
      #memberships_filters { margin-bottom: 30px;
        .filter { display: inline-block; cursor: pointer; color: #428bca; padding: 7px 15px; border-radius: 3px; margin: 0 5px 5px 0;
          &:hover { background-color: whitesmoke; }
          &.active { color: white; text-decoration: none; background: #428bca; }
        }
      }
    }

    // books
    .book { margin-bottom: 10px;
      img { height: 40px; margin-right: 10px; float: left; }
      :after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }  // clear the float
    }
  }
}
