@import 'settings';

// This can get reused around the site
#search_form { background-color: white; @extend .shadow; overflow: auto; margin-bottom: 20px;
  #search_input { position: relative; margin: 25px; margin-bottom: 20px; background-color: white; @extend .shadow;
    i { position: absolute; font-size: 20px; top: 17px; left: 18px; color: #aaa; }
    input { width: 100%; border: none; outline: none; padding: 10px 20px 10px 50px; font-size: 24px; background: none; border: 1px solid #ccc;
      -webkit-appearance: none; border-radius: 0; // For iOS
    }
  }

  #search_filters { margin: -15px 20px 0 20px;
    ul { list-style: none; margin: 0; padding: 0;
      li.filter { float: left; font-size: 20px; cursor: pointer; border-bottom: 3px solid white;
        a { display: inline-block; padding: 15px 20px; color: black; text-decoration: none; }
        &:hover { border-bottom: 3px solid $biola-red; }
        &.active a { color: $biola-red; }
      }
    }
  }
}


#search_results { position: relative;
  .results_count { padding-left: 20px; font-style: italic; border-bottom: 1px solid #ddd; padding-bottom: 10px; }
  .result_card { background-color: white; margin-bottom: 20px; overflow: auto; cursor: pointer; position: relative; border-bottom: 1px solid #ddd;
    -webkit-transition: all .5s; transition: all .5s;
    &.open { @extend .shadow2; margin: -30px -15px -10px -15px; z-index: 100; border-color: white; }
    .padding { margin: 20px; }
    .result_image {
      // height: 50px; width: 50px; border-radius: 100px; background-size: contain; background-position: center center; float: right; border: 1px solid #A2A2A2;
      float: right; padding: 2px; border: 1px solid #ddd; border-radius: 2px;
      img { width: 50px; -webkit-transition: all .5s; transition: all .5s; }
    }
    &.open .result_image img { width: 100px; }
    .affiliations { font-size: 12px; margin-bottom: 10px; float: right; margin-right: 20px; opacity: 0.4; position: relative;
      -webkit-transition: all .5s; transition: all .5s;
      .label { margin-right: 5px; }
      @media (max-width: 450px) { display: none; }
    }
    &:hover .affiliations { opacity: 1; }
    .title { font-size: 22px; font-weight: 500; white-space: nowrap; }
    .subtitle { font-size: 13px;
      &:first-child { margin-top: 10px; }
    }
    .details { display: none; cursor: text;
      dl { margin: 0;
        dt { margin-top: 15px; }
      }
    }
    .more_details_link { text-align: center; margin-top: 20px; }
  }

  // for fade out trick. I tried fading out all the other cards, but that hurt performance.
  #backdrop {
    display: none; position: absolute; z-index: 10; background-color: rgba(255,255,255,.7);
    top: 0; bottom: -10px; left: -10px; right: -10px; // You need the negative values so it covers the card shadows completely
    pointer-events: none; // This allows you to click on the cards underneath
  }
}
