@import 'settings';

body.searches {
  &.landing {
    .browse_by { text-align: center; padding: 30px 20px;
      .icon { font-size: 50px; padding-bottom: 10px; }
      .title { font-size: 24px;  font-family: 'Lusitana', serif; }
    }
  }


  &.search {
    // .header { border-bottom: 1px solid #eee; }
    .search-term { background-color: #eee; padding: 20px 0;
      .leading-text { text-align: right; font-size: 20px; color: #9C9B9B; font-family: 'Lusitana', serif; font-style: italic; margin-top: 5px; }
      .term { font-size: 24px; color: #777; font-family: 'Lusitana', serif; font-style: italic;
        &:before { content: '"'; }
        &:after  { content: '"'; }
      }
    }

    .search-body { padding: 20px 0;
      .square-img { width: 64px; height: 64px; background-position: center center; background-repeat: no-repeat; background-size: cover; border-radius: 3px; border: 1px solid #aaa;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+')
      }
      .media { margin-top: 25px;
        &:first-child { margin-top: 0; }
        .media-body { margin-left: 85px;
          .media-heading { font-size: 23px; margin-bottom: 10px;
            a { color: inherit; text-decoration: none; }
          }
        }
      }
    }
  }
}