@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "mixins";
@import "settings";

//====================================
// Academic Department Base
//====================================

h1, h2, h3, h4, h5, h6 { font-family:'proxima-nova',Helvetica,Arial,sans-serif; font-weight:bold; }

.site-body,
.site-foot { padding:2em 0; }
.site-foot { background:#EEE; }

.site_title_image { float: right; border: 1px solid #ccc; border-radius: 4px; background: white; padding: 1px; margin-left: 5px;
  img { height: 90px; border-radius: 3px; }
}

.dept-header { height:auto; padding:20px 0; background-color: $color-biola-red; color: white;}
.dept-header a { color: white; }

.dept-header > .container { position:relative; }

.dept-header .dept-name { clear: left; margin: 0; width: 65%; font-weight: normal; font-style: italic; font-size: 2.5em; font-family: 'minion-pro',Georgia,serif; }
.dept-header .dept-subname { clear: left; margin-top: 10px; margin-bottom: 0; font-weight: 200; font-family: 'minion-pro',Georgia,serif; }

.dept-header .nav-list { list-style:none; margin:0; padding:0; font-family:'proxima-nova',Helvetica,Arial,sans-serif; }
.dept-header .nav-list > li { float:left; margin-left:1.3em; }
.dept-header .nav-list > li:first-child { margin-left:0; }

.dept-header .nav-icons { float:right; font-size:2em; line-height:34px; height:40px; position:relative; top:3px; }
.dept-header .nav-icons > li { cursor:pointer; margin-left:10px; width:1.5em; text-align:center; }
.dept-header .nav-icons .search-link { border-radius:4px 4px 0 0; }
.dept-header .nav-icons .search-link .fa-remove { display:none; font-size:0.7em; height:40px; }
.dept-header .nav-icons .search-link.active { background:#333; color:#FFF; }
.dept-header .nav-icons .search-link.active .fa-remove { display:inline-block; }
.dept-header .nav-icons .search-link.active .fa-search { display:none; }

.dept-header .nav-breadcrumb { display:none; }

.dept-header .nav-main,
.dept-header .nav-actions { display:none; }

.nav-mobile { background:#333; font-family:'proxima-nova',Helvetica,Arial,sans-serif; }
.nav-mobile a,
.nav-mobile button { color:#FFF; opacity:1; text-shadow:none; }
.nav-mobile .btn { background-color:#666; }

.nav-mobile .close { padding:10px 15px 5px 20px; margin-bottom:10px; outline:none; font-size:2em; }
.nav-mobile .close:hover { color:#FFF; }

.nav-mobile .nav-list { list-style:none; padding-left:0; }

.nav-mobile .nav-actions { overflow:hidden; clear:both; padding:0 10px; margin:0 0 20px; font-size:1.1em; }
.nav-mobile .nav-actions > li { padding:0 5px; margin-top:10px; }
.nav-mobile .nav-actions .btn { display:block; background-color:rgba(255,255,255,0.3); }
.nav-mobile .nav-actions .btn:hover { background-color:rgba(255,255,255,0.8); }

.nav-mobile .nav-main { border-top:1px solid rgba(255,255,255,0.25); font-size:1.1em; clear:both; }
.nav-mobile .nav-main ul { margin:0 0 10px; padding:0; }
.nav-mobile .nav-main a { padding:10px 15px; display:block; }
.nav-mobile .nav-main a:hover { background-color:rgba(0,0,0,0.8); text-decoration:none; }
.nav-mobile .nav-main ul a { padding:5px 15px 5px 30px; }
.nav-mobile .nav-main ul a:before { content:"\F105"; font-family:'FontAwesome'; font-size:1em; text-decoration:none; float:left; width:15px; margin:0 0 0 -14px; color:#FFF; }
.nav-mobile .nav-main ul ul a { padding-left:45px; }
.nav-mobile .nav-main ul ul ul a { padding-left:60px; }
.nav-mobile .nav-main > li { border-bottom:1px solid rgba(255,255,255,0.25); }
.nav-mobile .nav-main > li > a { font-size:1.1em; }
.nav-mobile .nav-main .active > a,
.nav-mobile .nav-main .selected > a { background-color:rgba(0,0,0,0.8); }

.nav-section { display:none; }

.page-title { margin-top:0; margin-bottom:1em; font-weight:normal; }

.breadcrumbs { list-style:none; margin:0 0 1em; padding:0; font-size:0.9em; overflow:hidden; }
.breadcrumbs li { float:left; }
.breadcrumbs li:after { content:"\F105"; font-family:'FontAwesome'; color:#666; display:inline-block; width:2em; text-align:center; vertical-align:bottom; }
.breadcrumbs a { color:#666; }

.site-breadcrumb { border-top:1px solid #CCC; }
.site-breadcrumb ol { list-style:none; padding:20px 0; margin:0; text-align:center; }
.site-breadcrumb li { display:inline-block; line-height:2.5em; }
.site-breadcrumb li:after { content:"\000A0\000A0\000A0\F105\000A0\000A0"; font-family:'FontAwesome'; color:#666; display:inline-block; vertical-align:bottom; text-align:left; }
.site-breadcrumb li:last-child:after { content:""; }
.site-breadcrumb,
.site-breadcrumb a { color:#666; }


//@media screen and (min-width:768px) {
@include respond($min-width: $screen-sm-min) {
  .site_title_image img { height: 130px; }
  .dept-header .search-form { max-width:600px; border-radius:4px; }
  .dept-header .search-form .search-field { margin-left:20px; margin-right:20px; }

  .dept-header .nav-breadcrumb { display:block; list-style:none; padding-left:0; margin:0 0 5px; overflow:hidden; float:left; width:65%; }
  .dept-header .nav-breadcrumb li { float:left; }
  .dept-header .nav-breadcrumb li:after { opacity:0.7; content:"\F105"; font-family:'FontAwesome'; display:inline-block; width:1.6em; text-align:center; vertical-align:bottom; }
  .dept-header .nav-breadcrumb a { opacity:0.7; }
  .dept-header .nav-breadcrumb a:hover { opacity:1; }
}

//@media screen and (min-width:992px) {
@include respond($min-width: $screen-md-min) {
  body { font-size:14px; }

  body > div > .inner-wrapper { -webkit-transform:translateX(0) !important; -moz-transform:translateX(0) !important; transform:translateX(0) !important; }
  .nav-mobile { display:none !important; }

  .site-body,
  .site-foot { padding:3em 0; }

  .dept-header { padding:22px 0; }
  .dept-header .dept-name { width:auto; } // margin-bottom:0.5em;

  .dept-header .nav-icons { margin-left:20px; top:0; font-size:1.8em; }
  .dept-header .nav-icons .search-link { height:42px; }
  .dept-header .nav-mobile-link { display:none; }

  .dept-header .search-form { right:15px; border-top-right-radius:0; }

  .dept-header .nav-main,
  .dept-header .nav-actions { display:block; }

  .dept-header .nav-main { font-size:1.35em; font-weight:bold; clear:left; }
  .dept-header .nav-main a { border:0 solid #000; }
  .dept-header .nav-main a:hover { text-decoration:none; }
  .dept-header .nav-main > .active > a,
  .dept-header .nav-main > .selected > a,
  .dept-header .nav-main > .ancestor > a { border-bottom-width:2px; }

  .dept-header .nav-actions { float:right; }
  .dept-header .nav-actions > li { margin-left:10px; }
  .dept-header .nav-actions a { background:#CCC; font-weight:bold; }
  .dept-header .nav-actions a:hover { background:#666; color:#FFF; }

  .nav-section { display:block; }
  .nav-section h2 { font-size:1.2em; line-height:0.75; margin:0 0 10px; padding:0; }
  .nav-section a { color:#111; padding:8px 0; display:block; }
  .nav-section a:hover { color:inherit; }
  .nav-section .selected > a { font-weight:bold; }
  .nav-section ul { list-style:none; padding:0; }
  .nav-section ul ul { margin-bottom:10px; }
  .nav-section ul ul li { padding-left:15px; }
  .nav-section ul ul a { padding:5px 0; font-size:0.9em; }
  .nav-section ul ul a:before { content:"\F105"; font-family:'FontAwesome'; font-size:1em; text-decoration:none; float:left; width:15px; margin:0 0 0 -15px; color:#333; }
  .nav-section > ul { border-bottom:1px solid #CCC; margin-right:20px; }
  .nav-section > ul > li { border-top:1px solid #CCC; }
}

//@media screen and (min-width:1200px) {
@include respond($min-width: $screen-lg-min) {
  body { font-size:15px; }

  .site-body,
  .site-foot { padding:4em 0; }

  .nav-section > ul { margin-right:40px; }
}

//====================================
// Base Type
//====================================
h1, h2, h3, h4 { margin:0 0 0.75em; }
h5, h6 { margin:0 0 1.1em; }
h1 { font-size:2.57em; }
h2 { font-size:2.14em; }
h3 { font-size:1.71em; }
h4 { font-size:1.28em; }
h5 { font-size:1.00em; }
h6 { font-size:1.00em; }

p, ul, ol, dl, .lead { margin-bottom:1.2em; }

img { max-width:100%; height:auto; }

