secret_token: # run rake secret to generate this

biola_web_api:
  access_id: ''
  secret_key: ''

### In development: ###

sentry:
  url: # Set this in settings.local.yml

profile_publisher:
  url: http://profile-publisher.dev
