.popup-gallery {
  a {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
    border-bottom: 0;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
    // height: 75px;
    // width: 75px;
  }
}
